@font-face {
	font-family : Cambria;
	src : ulr(fonts/Cambria.tff) format("truetype");
}
body {
	height:auto;
	margin:0px;
}
#header_list p {
	font-size:20px;
	font-family:Cambria;
	color:#1e1c1a;
	font-weight:bold;
	margin-top: 25px;
}

p{
	display: inline-block;
}

#news_list {
	margin: 30px 0px 28px 0px;
}

#news_list article{
	background-color: rgba(194, 194, 194, 1);
	cursor:pointer;
	box-shadow: 0px 0px 15px 1px rgba(72, 71, 69, 0.36);
	-moz-box-shadow:0px 0px 15px 1px rgba(72, 71, 69, 0.36);
	-webkit-box-shadow:0px 0px 15px 1px rgba(72, 71, 69, 0.36);
	margin:40px 0px 0px 0px;
	width: 80px;
	height: 25px;
	padding-top:9px;
}

#news_list p {
	margin:0px;
	display:inline-block;
	vertical-align:top;
}

#news_list  li {
	list-style-type: none;
	margin:10px 42px 5px 42px;
	color:#1e1c1a;
	font-family:Cambria;
	font-size:16px;
	background-color:#DBDBDB;
	padding:7px;
	height:19px;
	border-radius:3px;
	-moz-border-radius: 3px;
    -webkit-border-radius: 3px;
	box-shadow: 0px 0px 7px 0px rgba(42, 42, 42, 0.4);
	-moz-box-shadow:0px 0px 7px 0px rgba(42, 42, 42, 0.4);
	-webkit-box-shadow:0px 0px 7px 0px rgba(42, 42, 42, 0.4);

}

#news_list a {
	text-decoration:none;
	display:inline-block;
	float: right;
	margin:0px 5px 0px 5px;
}

#potwierdz {
	position:fixed;
	z-index:999;
	width:750px;
	height:170px;
	top:50%;
	left:50%;
	margin:-85px 0px 0px -375px;
	background-image:url(images/panel_login_bg.png);
	border-radius:3px;
	-moz-border-radius: 3px;
    -webkit-border-radius: 3px;
	font-family:Cambria;
	color:#1e1c1a;
	box-shadow: 0px 0px 42px -2px rgba(131, 6, 6, 1);
	-moz-box-shadow:0px 0px 42px -2px rgba(131, 6, 6, 1);
	-webkit-box-shadow:0px 0px 42px -2px rgba(131, 6, 6, 1);
	display:none;
}

#potwierdz.error {
	width:400px;
	height:80px;
	margin:-40px 0px 0px -200px;
}

#potwierdz.komunikat {
	box-shadow: 0px 0px 42px -2px rgba(132, 119, 119, 1);
	-moz-box-shadow:0px 0px 42px -2px rgba(132, 119, 119, 1);
	-webkit-box-shadow:0px 0px 42px -2px rgba(132, 119, 119, 1);
	width:400px;
	height:80px;
	margin:-40px 0px 0px -200px;
}

#potwierdz.komunikat h1, #potwierdz.error h1 {
	margin-top:25px;
}

#potwierdz a {
	text-decoration:none;
	background-color::#DBDBDB;
	color:#1e1c1a;
	width:69px;
	height:27px;
	display:block;
	font-family:Cambria;
	font-size:18px;
}

#potwierdz button {
	padding:0px;
	width:69px;
	height:27px;
	margin:0px 10px 0px 10px;
}

#potwierdz h1{
	font-size:22px;
	font-weight:bold;
	margin-top: 15px;
}

#potwierdz h2 {
	font-size:17px;
	font-weight:normal;
	margin-top: 15px;
}

#potwierdz h3 {
	font-size:18px;
	margin-top: 15px;
}
