.header-basic {
	padding: 20px 150px;
	height: 80px;
	box-sizing: border-box;
}

.header-basic .header-limiter {
	max-width: 1700px;
	text-align: center;
	margin: 0;
}

/* Logo */

.header-basic .header-limiter logo{
	float: left;
	font-family: 'Geogrotesque UltraLight';
	line-height: 40px;
	margin: 0;
	color:white;
	font-size:43px;
}


/* The header links */

.header-basic .header-limiter a {
	color: #ffffff;
	text-decoration: none;
}

.header-basic .header-limiter nav{
	font-family: 'Geogrotesque UltraLight';
	line-height: 40px;
	float: right;
}

.header-basic .header-limiter nav a{
	display: inline-block;
	padding: 0 20px;
	text-decoration:none;
	color: #ffffff;
	font-size: 20px;
	opacity: 0.9;
}

.header-basic .header-limiter nav a:hover{
	opacity: 1;
}

.header-basic .header-limiter nav a.selected {
	color: #608bd2;
	pointer-events: none;
	opacity: 1;
}

/* Making the header responsive */

@media all and (max-width: 450px),all and (max-height:450px){

	.header-basic {
		padding: 20px 0px;
		height: 90px;
	}

	.header-basic .header-limiter logo{
		float: none;
		margin: -8px 0 10px;
		text-align: center;
		font-size: 24px;
		line-height: 1;
	}

	.header-basic .header-limiter nav {
		line-height: 2;
		float:none;
	}

	.header-basic .header-limiter nav a {
		font-size: 13px;
	}

}

@media all and (min-width: 450px) and (max-width: 890px){
	.header-basic {
		padding: 20px 0px;
		height: 90px;
	}

	.header-basic .header-limiter logo{
		float: none;
		margin: -8px 0 10px;
		text-align: center;
		line-height: 1;
	}

	.header-basic .header-limiter nav {
		line-height: 2;
		float:none;
	}



}

/* For the headers to look good, be sure to reset the margin and padding of the body */

body {
	margin:0;
	padding:0;
}